* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

body {
  font-family: sans-serif;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container--app {
  color: white;
  margin: 5.2rem 7rem 4rem 7rem;
  scroll-margin: none;
}

.movie-rows {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

/* 1088 */
@media (max-width: 68em) {
  html {
    font-size: 60%;
  }
}

/* 928 */
@media (max-width: 58em) {
  html {
    font-size: 55%;
  }
}

/* 816 */
@media (max-width: 51em) {
  html {
    font-size: 50%;
  }
  /* .container--app {
    margin: 4rem 2.8rem 0 2.8rem;
  } */
}

/* 624 */
@media (max-width: 39em) {
  html {
    font-size: 40%;
  }
  /* .container--app {
    margin: 4rem 1.6rem 0 1.6rem;
  } */
}
