/* .movie-row {
background-color: #333; 
} */

.movie-row h2 {
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}

.conatiner--movies {
  padding-right: 1rem;
  width: 100%;
  transition: all 500ms ease;
  /* display: flex; */
  /* justify-content: space-evenly; */
  display: grid;
  align-items: center;
  justify-content: center;
  /* grid-template-rows: minmax(auto, 50rem); */
  gap: 1rem;
  transition: all 800ms ease;
}

.grid-cols--9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid-cols--8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid-cols--7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid-cols--6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid-cols--5 {
  grid-template-columns: repeat(5, 1fr);
}

.container--multi-row {
  position: relative;
}

.row-absolute-right--1 {
  position: absolute;
  top: 0;
  left: calc(100%);
}

.row-absolute-right--2 {
  position: absolute;
  top: 0;
  left: calc(200%);
}

.row-absolute-right--3 {
  position: absolute;
  top: 0;
  left: calc(300%);
}

.movie {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: all 300ms ease;
}

.btn--left,
.btn--right {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 7rem;
  font-size: 4rem;
  background-color: rgba(12, 12, 12, 0.8);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 300ms ease;
}

.container--multi-row:hover .btn--right {
  font-size: 7rem;
}

.container--multi-row:hover .btn--left {
  font-size: 7rem;
}

.btn--left {
  top: 0;
  left: 0;
  transform: translateX(calc(-100%));
}

.btn--right {
  top: 0;
  right: 0;
  transform: translateX(calc(100% - 1rem));
}

.movie:hover {
  transform: scale(1.05);
}

.movie-img {
  /* height: 100%; */
  width: 100%;
  /* height: 34rem; */
}

/* .movie:hover {
  transform: scale(1.05);
  transition: all 300ms ease;
} */

.movie-placeholder {
  transition: all 300ms ease;
  width: 22rem;
  height: 34rem;
  background-color: #222;
  z-index: -2;
}

.transformed--0 {
  transform: translateX(0%);
}

.transformed--1 {
  transform: translateX(-100%);
}

.transformed--2 {
  transform: translateX(-200%);
}

.transformed--3 {
  transform: translateX(-300%);
}

.buttons {
  display: flex;
  align-items: center;
}

/* 848 */
@media (max-width: 53em) {
  .btn--left,
  .btn--right {
    display: none;
  }
}
